extends ../base.pug
include ../mixins/video.pug



block content
    div#watch
    div#videoContainer(data-video-id=video._id)
        video(src=`/${video.fileUrl}` width="800px"  ).watch-video-main 
        div#videoControls
            button#play 
                //- i.fa-solid.fa-pause
                i.fa-solid.fa-play
            div#currenTime-and-totalTime
                span#currenTime 00:00 
                span /
                span#totalTime  00:00

            input(type="range" min="0" value=0 step="1" style ="width:100%")#timeline
            button#mute
                i.fa-solid.fa-volume-high
                //- i.fa-solid.fa-volume-xmark
            //- span#time 00:00/00:00
            input(type="range" min="0" value=0.5 step="0.1" max="1")#volume

            div   
                button#fullScreen
                    i.fa-solid.fa-expand
                    //- i.fa-solid.fa-compress
    div#videoInfo
        h1.watch-title #{video.title}
        div.watch-info
            div.watch-info__column1
                div.watch-info__column1-1
                    img(src=`${video.owner.avatarUrl}`, alt="")
                div.watch-info__column1-2
                    p=video.owner.username
                    p 구독자 0명 
                        //- 구독자(미구현)
                div.watch-info__column1-3
                span.column2__join 가입
                span.column2__subscribe 구독
                //- 가입, 구독 컨트롤러, 라우트 미구축

            div.watch-info__column2 
                span 
                    i.fa-regular.fa-thumbs-up 
                    i.fa-regular.fa-thumbs-down

                span 
                    i.fa-solid.fa-share
                    span share
                span 
                    i.fa-solid.fa-download
                    span Offilne Download
                span 
                    i.fa-solid.fa-hand-holding-dollar
                    span Thanks


        h3 #{video.meta.views} #{video.meta.views <=1 ? "view" : "views"}
        //- +video(video)

        h4=`Uploaded by ` 
        a(href=`/users/${video.owner._id}`)  #{video.owner.username} 

        if loggedInUser && (String(loggedInUser._id) === String(video.owner._id)) 
            div 
                a(href=`${video.id}/edit`) Edit Video ༼ つ ◕_◕ ༽つ
            div 
                a(href=`${video.id}/delete`) delete this Video (┬┬﹏┬┬)

    if loggedIn
        .video__comments-add  
            form.video__comment-form#commentForm
                textarea(placeholder="add comment" cols="30" rows="10" )
                button comment
    .video__comments
        ul  
            //- each comment in video.comments.reverse()
            
            each comment in video.comments
                //- if 댓글의 본인 여부 확인 

                li.video-comment.max-height(data-comment-id=comment._id) 
                    i.fas.fa-comment 
                    span.video-comment__text #{comment.text}
                    if loggedInUser._id ==comment.owner._id.toString()
                        i.fas.fa-pen                    
                        i.fas.fa-xmark               
                    div.video-comment__option
                        if comment.meta.like.users.includes(loggedInUser._id)
                            span.like.button
                                i.fa-solid.fa-thumbs-up
                                span.like-button__count=comment.meta.like.count
                                //- <i class="fa-solid fa-thumbs-up"></i>
                            span.unlike.button
                                i.fa-regular.fa-thumbs-down
                                //- <i class="fa-solid fa-thumbs-down"></i>
                        else 
                            span.like.button
                                i.fa-regular.fa-thumbs-up
                                span.like-button__count=comment.meta.like.count
                                //- <i class="fa-solid fa-thumbs-up"></i>
                            span.unlike.button
                                i.fa-regular.fa-thumbs-down
                                //- <i class="fa-solid fa-thumbs-down"></i>


                        span.reply-add-btn reply
                    if comment.reply.group.length >0
                        .reply-container 
                            .reply-view-btn
                                i.fa-solid.fa-arrow-down 
                                span view reply
                            //- .reply-section



                    //- form.reply-add(action="")
                    //-     input(type="text" name="reply")
                    //-     button.reply-add__cancel cancel 
                    //-     button.reply-add__reply reply
                            

                    //- form.video-comment__input(data-comment-edit="form") 
                    //-     input(type="text" data-comment-edit="input-text") 
                    //-     button 



block script 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js") 